h3, h4 {
  font-family: 'Bebas Neue', cursive
}

video {
  border-radius: 12px
}

.mobile {
  margin-left: 12px
}

.parag .pok {
  margin: 7% 15%
}

.nav-link:hover {
  text-decoration: underline
}

.nav-link {
  font-family: 'Bebas Neue', cursive;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.3rem
}

.main-itself {
  border-radius: 12px;
  height: 500px
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Bebas Neue', cursive
}

.create {
  text-align: center
}

.title {
  margin: 0
}

.big {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem
}

.small {
  font-family: 'Jost', sans-serif;
  font-size: 1.5em
}

.btn {
  margin: 15px 20px 15px 0;
  padding-left: 20px;
  padding-right: 20px
}

#footer {
  text-align: center
}

.footnotes {
  font-family: 'Rubik', sans-serif
}

#body {
  margin: 7% 15%
}

.med {
  font-size: 1rem
}

.gool {
  text-align: center;
  margin: 25px
}

.heading {
  text-align: center;
  margin: 75px 100px 10px 100px;
  font-size: 3rem;
  font-family: 'Jost', sans-serif
}

.cardle {
  width: 24rem;
  margin: 20px;
  display: inline-block;
  text-align: left
}

#cards {
  text-align: center
}

.card-header {
  text-align: center
}

#feet {
  margin: 3% 20% 100px
}

#sign-in {
  margin: 0 35%
}

.caster {
  width: 200px;
  margin: 100px 0 0 0
}

#title-section {
  padding: 6% 12%
}

.textbox {
  margin: 50px 20% 50px 20%
}

.carione {
  background-image: url(../images/mk1.jpg)
}



.tanktn {
  margin-bottom: 10px
}

.aline {
  text-align: center
}

#tanks {
  margin: 50px 7%
}

.broi {
  text-align: center;
  margin: 50px
}

.tank-img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  margin-bottom: 20px
}

.custurd {
  padding: 20px;
  border-radius: 12px;
  margin-top: 12px
}

.armcar {
  width: 100%
}

.tank-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem
}

.icon {
  width: 5%;
  margin-right: 10px
}

#form {
  margin: 7% 15%
}

.funny {
  text-align: center
}

.fink {
  margin-top: auto
}

.hidden, .heel {
  display: none
}

.main-img {
  text-align: center;
  margin: 100px;
  margin-bottom: 10px
}

.small-img {
  height: 50px;
  border-radius: 12px
}

.sm-imgs {
  text-align: center
}

.main-text {
  margin: 3% 13%
}

.contact-form {
  display: none
}

.button-dropdown {
  text-align: center
}

.text {
  background-color: #f3f3f3;
  padding: 12px;
  border-radius: 12px
}

.current {
  opacity: 50%;
  border: 2px solid #000
}

.small-img:hover {
  opacity: 50%
}

.user-title {
  font-family: 'Bebas Neue', cursive
}

#peen {
  display: none
}

.form-table {
  text-align: center
}

.invisible {
  display: none
}
.logo {
  width:100%;
  margin:50px;
}
@media (max-width:1000px) {
  .main-itself {
    height: 300px
  }
  #body {
    margin: 1% 5%
  }
  .title {
    font-size: 1.5rem
  }
  .logo {
    width:200%;
    margin: 100px auto 0 auto;
  }


  .row {
    margin: 3% 7%;
    text-align: center
  }

  #sign-in {
    margin: 100px 10%
  }
  .main-text {
    margin: 3% 5%
  }
  .big {
    font-size: 4rem
  }
.preen {
  font-size: 2rem;
}
  .small {
    font-size: 2rem
  }

  .heading {
    text-align: center;
    margin: 25px 0 0 0;
    font-size: 3rem;
    font-family: 'Jost', sans-serif
  }

  #cards {
    margin: 3% 3%;
    text-align: center
  }

  .card-header {
    text-align: center
  }

  .heading {
    margin: 25px 50px 0 50px
  }
  .main-img {
    text-align: center;
    margin-left: 0;
    margin-right: 0
  }

  .small-img {
    height: 40px
  }
  .icon {
    margin-left: auto;
  }
  .hooler {
    font-size: 3rem;
  }
}

.red {
  color: red;
  text-align: center;
  font-family: 'Bebas Neue', cursive
}

.text-input {
  margin: 5px
}

.peem {
  text-align: center
}

.spleen {
  width: 100%
}

.fas {
  font-size: 3rem;
}

.thicc {
  width: 5rem;
  text-align: center;
}

.p-dookie {
  margin: 100px;
}

.backbid {
  ba
}

#fail-img {
  height: 556px;
}
@media (max-width:800px) {
  .logo{
    width:100%;
  }
}
/* @media (min-width:1100px) {
  .logo{
    width:70%;
  }
} */
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle {
  border-radius: 0;
  margin-bottom: -1px;
}
.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.muselee {
  border-radius:100%;
  height: 110px;
  width: 110px;
}
