<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weaponsdealers.com</title>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Jost|Open+Sans+Condensed:300|Rubik&display=swap" rel="stylesheet"> <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- stylesheet -->
  <link rel="stylesheet" href="/public/css/styles.css">
  <!-- icon -->
  <link rel="icon" href="/public/images/favicon.ico">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img class = "icon" src="/public/images/colm_logo.png" alt="weaponsdealers logo"><a class="navbar-brand" href="/">weaponsdealers.com</a>
    <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vehicles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/tanks">Tanks</a>
            <a class="dropdown-item" href="/ifv">IFV's</a>
            <a class="dropdown-item" href="/armouredcars">Armoured Cars</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">More</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acount
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/pricing">Create Acount</a>
            <a class="dropdown-item" href="/signin">Sign In</a>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/compose">Post</a>
        </li>
      </ul>
    </div>
  </nav>
