<%- include("partials/header") -%>
<div class="about-div">
<img class= "red-gold head-about" src="public/images/profile.jpg" alt="">
<div class="head-about">

<h1>Colm Henry is the developper <br />of this project</h1>
<p>Hello, my name is Colm Henry, I over the 2020 corona virus quaranteen have been <br />learning programming and developping the weaponsdealers.com website.<br>I really enjoy what I have been doing and would love to continue doing <br>this sort of thing in the future.</p>
</div>
</div>
<br>
<br>
<br>
<br>
<%- include("partials/footer") -%>
