<%- include("partials/header") -%>
<div class="about-div row">
<div class="col-lg-6">
<img class= "red-gold head-about" src="public/images/profile.jpg" alt="">
</div>
<div class="col-lg-6 head-about">

<h1>Colm Henry is the developper <br />of this project</h1>
<p>Hello, my name is Colm Henry, I over the 2020 corona virus quaranteen have been <br />learning programming and developping the weaponsdealers.com website.
  <br>I really enjoy what I have been doing and would love to continue doing <br>this sort of thing in the future.</p>
</div>
</div>
<div class="about-div gagle">
  <p>I guess this is maybe where I will start posting the devBlog for weapons dealers.</p>
</div>
<br>
<br>
<br>
<br>
<%- include("partials/footer") -%>
