<%- include("partials/header") -%>
<div class="comp-body">
<h1>Compose your listing</h1>
<h6>Currently Posting to <%= location %> </h6>
<form action="/compose" method="post">
<label class = "compositionForm">Title</label>
<input required class = "compositionForm" type="text" name="title" autofocus>
<label class = "compositionForm" >Paragraph body</label>
<textarea required class = "compositionForm" name = "body" rows="8" cols="80"></textarea>
<label class = "compositionForm">Enter a valid image URL</label>
<input required class = "compositionForm" type="text" name="tanksource">
<label class = "compositionForm">Price :</label>
<input  required type="text" name="price">

<button class = "compositionForm btn btn-lg btn-primary" type="submit" name="button">Post Your listing</button>
</form>
</div>
<%- include("partials/footer") -%>
