<%- include("partials/header") -%>
<div class="comp-body">
<h1>Compose your listing</h1>
<br />
<form action="/compose" method="post">
<label class = "compositionForm">Title</label>
<input required class = "compositionForm" type="text" name="title" autofocus>
<label class = "compositionForm" >Paragraph body</label>
<textarea required class = "compositionForm" name = "body" rows="8" cols="80"></textarea>
<br>
<label class = "compositionForm">Another Title</label>
<input required class = "compositionForm" type="text" name="secondTitle">
<label class = "compositionForm" >Paragraph body</label>
<textarea required class = "compositionForm" name = "secondBody" rows="8" cols="80"></textarea>
<br>
<label class = "compositionForm">One Last Title</label>
<input required class = "compositionForm" type="text" name="thirdTitle">
<label class = "compositionForm" >Paragraph body</label>
<textarea required class = "compositionForm" name = "thirdBody" rows="8" cols="80"></textarea>
<br>
<label class = "compositionForm">Enter a valid image URL</label>
<input required class = "compositionForm" type="text" name="tanksource">
<label class = "compositionForm">Enter Another valid image URL (optional)</label>
<input class = "compositionForm" type="text" name="secondTanksource">
<label class = "compositionForm">Enter Another valid image URL (optional)</label>
<input class = "compositionForm" type="text" name="thirdTanksource">
<label class = "compositionForm">Enter Another valid image URL (optional)</label>
<input class = "compositionForm" type="text" name="fourthTanksource">
<label class = "compositionForm">Enter one last valid image URL (optional)</label>
<input class = "compositionForm" type="text" name="fifthTanksource">
<label class = "compositionForm">Enter one last valid image URL (optional)</label>
<input class = "compositionForm" type="text" name="sithTanksource">
<br>
<label class = "compositionForm">Price :</label>
<input  required type="text" name="price">
<br><br>
<div>
  <input type="checkbox" name="tanks">
  <label class = "title">Post to Tanks</label>
</div>
<div>
  <input type="checkbox" name="ifvs">
  <label class = "title">Post to IFV's</label>
</div>
<div>
  <input type="checkbox" name="armcars">
  <label class = "title">Post to Armoured Cars</label>
</div>
<br>
<button class = "compositionForm btn btn-lg btn-primary" type="submit" name="button">Post Your listing</button>
</form>
</div>
<%- include("partials/footer") -%>
