<%- include("partials/header") -%>
<div class="comp-body">
<h1>Compose your listing</h1>
<a target="_blank" href="https://www.youtube.com/watch?v=LDEFMSJCPSE">find out how</a>
<br />
<form action="/compose" method="post">
<label class = "title compositionForm">Title</label>
<input required class = "title compositionForm" type="text" id= "title1" name="title" autofocus>
<label class = "title compositionForm" >Paragraph body</label>
<textarea required class = "compositionForm" name = "body" rows="8" cols="80"></textarea>
<br>
<label class = "title compositionForm">Another Title</label>
<input required class = "compositionForm" type="text" name="secondTitle">
<label class = "title compositionForm" >Paragraph body</label>
<textarea required class = "compositionForm" name = "secondBody" rows="8" cols="80"></textarea>
<br>
<label class = "title compositionForm">One Last Title</label>
<input required class = "compositionForm" type="text" name="thirdTitle">
<label class = "title compositionForm" >Paragraph body</label>
<textarea required class = "compositionForm" name = "thirdBody" rows="8" cols="80"></textarea>

<label class = "title compositionForm">Price :</label>
<input  required type="text" placeholder= "$0. USD" name="price">
<br><br>
<label class = "title compositionForm">Type the name of the location where you would like the listing to be posted.</label>
<input type="text" name="where" placeholder="I.e. ifvs">
<br><br>
<button class = "compositionForm btn btn-lg btn-primary" type="submit" name="button">Post Your listing</button>
</form>
</div>
<%- include("partials/footer") -%>
