<%- include("partials/header") -%>
<center>
<h1>boi you fucked up,</h1>
<h2>there aint no page here</h2>
<h3>404</h3>
<img id = "fail-img" src="public/memeimgs/img5.png" alt="M/m/">
      </center>
      <br>
<%- include("partials/footer") -%>
