<%- include("partials/header") -%>
<center>
<h1>boi you messed up,</h1>
<h2>there aint no page here</h2>
<p>If you are looking for a specific page, look at the url you entered and make sure that it spelled correctly</p>
<h3>404</h3>
<img id = "fail-img" src="/memeimgs/img5.png" alt="M/m/">
      </center>
      <br>
<%- include("partials/footer") -%>
