<%- include("partials/header") -%>


  <section id="title-section">
    <div class="row">
      <div class="col-lg-6">

          <h1 class="title big">p-dookie.ca</h1>

<div class="">
          <p class="title small">For all of your p-dookie needs. This is a website for poeple to sell all manor of things. It has a system where users can create lists dedicated to certain types of things and then post their listings to those lists.</p>
</div>
        <a class="preen btn btn-primary btn-block" href="pricing">Sign Up</a>
        <a id="pissBaby"class="preen btn btn-outline-primary btn-block" href = "signin">Sign In</a>
      </div>

      <div class="col-md-6 logle">
        <img class="logo" src="/images/ma.png" alt="">
      </div>
    </div>
  </section>

  <section id="body">
    <div class="text">
      <h3>About p-dookie</h3>
    <p class="title med ">This website was created as a learning tool for the developper to learn the basics of programming. It was initially to learn front end design as well as basic HTML, css, and bootstrap. But as he learned more it progressed into a fully functional web app app with a working backend written in Node.js. The code is relatively simple but it does the job.
    <br>
      <br>
  As time went on the project got more and more complicated. Today it has a database with user-data and fully encrypted passwords witch utilize hashing and salting for maximum security. It uses sessions and cookies for user expierence, and has all the funcionality that you would expect a traditional website to have. The database is mongoDB paired with mongoose.</p>
  <br>
    </div>
      <br />
    <div class="anouncements text">
      <h3>Anouncements</h3>
<ul class = "title">
  <li><p>Now able to create lists and post to those lists. Alot of the code was reworked to be more dynamic</p></li>
  <li><p>API Coming soon</p></li>
  <li><p>Able to make offers on posts and have them logged in the database</p></li>
  <li><p>Users now able to log in and view their acount, posts connected to acounts</p></li>
  <li><p>Authentication working for the most part</p></li>
  <li><p>Connected to mongoDB, users are now able to post and have their data persisted</p></li>
  <li><p>Now able to post to an empty array</p></li>
  <li><p>All files converted to ejs, code refactored</p></li>
  <li><p>app.js now serves all HTML files</p></li>
  <li><p>Started pushing commits to git hub</p></li>
  <li><p>Most of p-dookies front end is completed and looks good</p></li>
  <li><p>User page template in HTML now works with JavaScript</p></li>
  <li><p>Grid system created for template</p></li>
  <li><p>home page updated</p></li>
  <li><p>Started p-dookie.ca project</p></li>
</ul>


    </div>
  </section>
  <%- include("partials/footer") -%>
