<%- include("partials/header") -%>


  <section id="title-section">
    <div class="row">
      <div class="col-lg-6">

          <h1 class="title big">p-dookie.ca</h1>

<div class="">
          <p class="title small">For all of your p-dookie and surplus needs.
        We have Tanks, IFV's, Armoured Cars and all other mater of surplus equitement.</p>
</div>
        <a class="preen btn btn-primary btn-block" href="pricing">Sign Up</a>
        <a id="pissBaby"class="preen btn btn-outline-primary btn-block" href = "signin">Sign In</a>
      </div>

      <div class="col-md-6 logle">
        <img class="logo" src="/public/images/ma.png" alt="">
      </div>
    </div>
  </section>

  <section id="body">
    <div class="text">
    <p class = "title med"><strong>Disclaimer, this website is still very much in it's testing and developpement phase, it is not currently conncected to any database, if you return to find that you cannot log in to you'r acount that is fine. If this is going to be a problem please avoide this website all together.</strong></p>
<br>
    <p class="title med ">Weather you're the curator of a prestigious museum or just a p-dookie enthusiast looking to buy or sell your next armoured vehicle, our service, p-dookie.ca, has you covered.<br><br>
      From Tanks to Armoured Cars, IFV's to Hand Helled ATGM's. With the coming civil war, apocalypes or any other situation
      that may favor one of our products you better stok up. The world is coming to an end and you know it better than anyone. <br> <br>Come to our store, that grenade launcher that you have been staring at for the longest time is not going to buy itself.
      that sweet new ride for your prome date. Load up on amunition to fight the zombies or your neighbors for the last bottle of body insulin. <br /> <br /> </p>
    </div>
<center>
    <p class="small gool btn btn-primary">⇩ MORE ABOUT US ⇩</p><br>

    <video id = "peen" width= "640px" height= "360px" controls>
    <source src="public/videos/hork.mp4" type="video/mp4">
    </video>


  </center>
  </section>
  <%- include("partials/footer") -%>
