<%- include("partials/header") -%>


  <section id="title-section">
    <div class="row">
      <div class="col-lg-6">

          <h1 class="title big">p-dookie.ca</h1>

<div class="">
          <p class="title small">For all of your p-dookie and surplus needs.
        We have Tanks, IFV's, Armoured Cars and all other mater of surplus equitement.</p>
</div>
        <a class="preen btn btn-primary btn-block" href="pricing">Sign Up</a>
        <a id="pissBaby"class="preen btn btn-outline-primary btn-block" href = "signin">Sign In</a>
      </div>

      <div class="col-md-6 logle">
        <img class="logo" src="/images/ma.png" alt="">
      </div>
    </div>
  </section>

  <section id="body">
    <div class="text">
      <h3>About p-dookie</h3>
    <p class="title med ">Weather you're the curator of a prestigious museum or just a p-dookie enthusiast looking to buy or sell your next armoured vehicle, our service, p-dookie.ca, has you covered.<br><br>
      From Tanks to Armoured Cars, IFV's to Hand Helled ATGM's. With the coming civil war, apocalypes or any other situation
      that may favor one of our products you better stok up. The world is coming to an end and you know it better than anyone. <br> <br>Come to our store, that grenade launcher that you have been staring at for the longest time is not going to buy itself.
      that sweet new ride for your prome date. Load up on amunition to fight the zombies or your neighbors for the last bottle of body insulin. <br /> <br /> </p>
      <a target="_blank" href="https://github.com/p-dookie/p-dookie2">See code on github</a>
    </div>
      <br />
    <div class="anouncements text">
      <h3>Anouncements</h3>
<ul class = "title">
  <li><p>API Coming soon</p></li>
  <li><p>Able to make offers on posts and have them logged in the database</p></li>
  <li><p>Users now able to log in and view their acount, posts connected to acounts</p></li>
  <li><p>Authentication working for the most part</p></li>
  <li><p>Connected to mongoDB, users are now able to post and have their data persisted</p></li>
  <li><p>Now able to post to an empty array</p></li>
  <li><p>All files converted to ejs, code refactored</p></li>
  <li><p>app.js now serves all HTML files</p></li>
  <li><p>Started pushing commits to git hub</p></li>
  <li><p>Most of p-dookies front end is completed and looks good</p></li>
  <li><p>User page template in HTML now works with JavaScript</p></li>
  <li><p>Grid system created for template</p></li>
  <li><p>home page updated</p></li>
  <li><p>Started p-dookie.ca project</p></li>
</ul>


    </div>
  </section>
  <%- include("partials/footer") -%>
