<%- include("header") -%>
<div class="backbid">
<div class="p-dookie">
<h3 class = "hooler">Get Absolutely sadded!<br />We got ur shit</h3>
<p class = "title">Your email is <%= rickSult %></p>
<p class = "title">Your password is <%= ronSult %></p>
</div>
</div>
<%- include("footer") -%>
