<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/styles1.css">
<body class="text-center">
  <form method = "POST" action = "/signin" class="form-signin">
<img class="mb-4 muselee" src="/images/colm_logo.png" alt="" width="72" height="72">
<h3 class="penisMusic">Sign in (beta)</h3>
<input type="email"  name = "username" class="form-control gobad" placeholder="Email" required autofocus>
<input type="password" name = "password" class="form-control gobad" placeholder="Password" required>
<button class="preen btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>

<%- include("partials/footer") -%>
