<%- include("header") -%>
<h1 class="heading">Affordable pricing plan's for prestigious war lords such as yourself</h1>
<section id="cards">



  <div class="card cardle">
    <div class="card-header">
      <h4>Free</h4>
      <h3>Peasant</h3>
    </div>
    <div class="card-body">
      <ul>
        <li class = "title annas">Unlimited app usage!</li>
        <li class = "title annas">No credit card required upon sign up!</li>
        <li class = "title annas">Ads will be displayed across the website.</li>
        <br>
      </ul>
      <br>
      <a class="preen btn btn-lg btn-block btn-outline-primary " href="free.html">Sign Up</a>
    </div>
  </div>
  <div class="card cardle">
    <div class="card-header">
      <h4>$15/mo</h4>
      <h3>Premium</h3>
    </div>
    <div class="card-body">
      <ul>
        <li class = "title annas">Priority listings! </li>
        <li class = "title annas">Exclusive access to a large selection of premium products!</li>
        <li class = "title annas">No Ads!</li>
      </ul>
      <br>
      <a class="preen btn btn-lg btn-block btn-primary" href="premium.html">Sign Up</a>
    </div>
  </div>
  <div class="card cardle ent">
    <div class="card-header">
      <h4>$49/mo</h4>
      <h3>Millitia</h3>
    </div>
    <div class="card-body">
      <ul>
        <li class = "title annas">Access to exclusive sponsord events!</li>
        <li class = "title annas">Access to the premium store!</li>
        <li class = "title annas">All chemical weapons may be purchased at this store!</li>

      </ul>
      <br>
      <a class="preen btn btn-lg btn-block btn-primary " href="millitia.html">Sign Up</a>
    </div>
  </div>
  <section id="feet">


    <p class = "title"><em><strong>Note:</strong></em> As you go up to the next pricing tier you will not lose any of the features of the previous tier or any tier before that, you will only gain features respective to that next tier.</p>
  </section>
  <%- include("footer") -%>
