<%- include("header") -%>

  <div class="broi">
    <h1>Browse our wide selection of tanks!</h1>
  </div>
  <section id="tanks">
    <div class="row pok">
      <div class="card custurd col-lg-4">
        <h2 class="tank-title">T-34</h2>
        <img class="tank-img" src="public/images/t-34.png" alt="tank-img, posted by user">

        <p class = "title">T-34 tank. it is in very good condition. After the second world war, this tank along with many others were shipped to north korea. It partook in a few key battles before being sold to a british man. My grandfather who passed it down to me.
          I am in a rough spot financially and now I need some cash some I am selling it.</p>
        <div class="fink">

          <h6><strong>Price:</strong> $68,000 USD</h6>
          <a class="preen btn btn-primary btn-block tanktn" href="pager">Learn More</a>

        </div>
      </div>
      <div class="custurd card col-lg-4">
        <h2 class="tank-title">T-14 Armata</h2>
        <img class="tank-img" src="public/images/t-14.jpg" alt="">

        <p class = "title">I got this baby back in 2019 but I my wife, karen took the kids, I have no money, no car, no house. All I have is this tank. I need to sell to get something a bit more spacious, maybe an abrahams. The t-14 is a bit cramped but it's
          incredibally combat effective. it's fast, has a big ass gun and is great for the average sports tank driver.</p>
        <div class="fink">


          <h6><strong>Price:</strong> $5, 463, 599. USD</h6>
          <a class="preen btn btn-primary btn-block tanktn" href="pager">Learn More</a>

        </div>
      </div>
      <div class=" custurd card col-lg-4">
        <h2 class="tank-title">Leopard 2</h2>
        <img class="tank-img" src="public/images/leo-2.jpg" alt="">

        <p class = "title">This vehicle was bought back in 2012, I have maintained it beautifully during the time I have had it. Starts easily every time, purs like a new bord kitten. I love this thing and I am so sad to see it go but I really don't have a choice.
          However I will make sure that whoever gets will take care of it eactly as I have. I feel like I am writing an obituary.</p>
        <div class="fink">

          <h6><strong>Price:</strong> $2, 382, 901</h6>
          <a class="preen btn btn-primary btn-block tanktn" href="pager">Learn More</a>

        </div>
      </div>
      <div class=" custurd card col-lg-4">
        <h2 class="tank-title">Sherman 76mm</h2>
        <img class="tank-img" src="public/images/sherman.jpg" alt="">

        <p class = "title">I bought this for my neighbors cat but as it turns out he did not like it as much as I expected. that ran from the fucking thing the moment he saw it. As you can probably imagin I am very disapointed with my neighbor. He should have taught
          This
          cat from a young age to be a competent tank comander but I guess he didn't Im selling it now, the things brand new with no problems.</p>
        <div class="fink">

          <h6><strong>Price:</strong> $500, 378. USD</h6>
          <a class="preen disabled btn btn-primary btn-block tanktn" href="user-page.html">Learn More</a>
        </div>
      </div>
      <div class=" custurd card col-lg-4">
        <h2 class="tank-title">M1A2 Abrahams</h2>
        <img class="tank-img" src="public/images/abrahams.jpg" alt="">

        <p class = "title">Don't get too excited, yes I know, i'm selling my abrahams. To tell you the truth I really don't have the passion anymore to maintaine such a beautiful machine. Knowing what I know today I would never let it sit to rust and die, so, I have
          decided to pass it on to somebody else. Over the years I have maintained the thing perfectly. There are no issues to speak of. The first to contact me can have it.</p>
        <div class="fink">

          <h6><strong>Price:</strong> $4, 112, 051. USD</h6>
          <a class="preen btn btn-primary btn-block tanktn" href="pager">Learn More</a>

        </div>

      </div>
      <div class=" custurd card col-lg-4">
        <h2 class="tank-title">Centurion</h2>
        <img class="tank-img" src="public/images/cent.jpg" alt="">

        <p class = "title">It curently is just rusting and dying. I have never cared for armoured fighting vehicles. I just want to sell the thing before It loses all of it's vallue. Everything is pretty much brand new with the exception of the left sproket wich is
          rusted over and the engin wich needs to be replaced. </p>
        <div class="fink">


          <h6><strong>Price:</strong> $49,652. USD </h6>
          <a class="preen btn btn-primary btn-block tanktn" href="pager">Learn More</a>

        </div>
      </div>
  </section>
  <%- include("footer") -%>
